upstream app_uwsgi {
    server 127.0.0.1:{{uwsgi_port}};
}

server {
    listen 443;

    ssl on;
    ssl_certificate /var/www/{{project_name}}/ssl/ssl-bundle.crt;
    ssl_certificate_key /var/www/{{project_name}}/ssl/domain.key;

    # side note: only use TLS since SSLv2 and SSLv3 have had recent vulnerabilities
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;

    server_name {{project_domain}};
    root /var/www/{{project_name}};
    access_log /var/www/{{project_name}}/logs/nginx_access.log;
    error_log /var/www/{{project_name}}/logs/nginx_error.log;

    location /static/ {
        alias /var/www/{{project_name}}/static/;
        #include /etc/nginx/gzip.conf;
        #expires 30d;
        access_log off;
    }

    location /media/ {
        alias /var/www/{{project_name}}/media/;
        #include /etc/nginx/gzip.conf;
        #expires 30d;
        access_log off;
    }

    location /api/ {
        include uwsgi_params;

        uwsgi_param X-Real-IP $remote_addr;
        uwsgi_param Host $http_host;

        uwsgi_pass app_uwsgi;
    }

    location / {
        include uwsgi_params;

        uwsgi_param X-Real-IP $remote_addr;
        uwsgi_param Host $http_host;

        {% if restrict_access %}
        auth_basic "Restricted";
        auth_basic_user_file {{conf_root}}/htpasswd;
        {% endif %}

        uwsgi_pass app_uwsgi;
    }
}

server {
    listen      80;
    server_name {{project_domain}};

    location /.well-known/ {
        alias {{ well_known_root }}/;
        allow all;
    }

    location / {
        rewrite ^ https://$server_name$request_uri? permanent;
    }
}
